:root {
  --primary-color: #fe8c68;
  --secondary-color: #64e0d1;
}

.container-fluid {
  padding: 0;
}

/*HERO */

.hero {
  padding: 50px 0px;
  /*background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/056/250/original/output-onlinepngtools.png?1670090317); */
  background-image: url(https://ih1.redbubble.net/image.858249436.2258/flat,750x,075,f-pad,750x1000,f8f8f8.u1.jpg);
  background-repeat: repeat;
  background-size: 400px;
  background-position: center;
}
.hero-title {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0px 0px 100px 80px;
}

.sekhmet-title {
  color: var(--primary-color);
}

h1 {
  font-size: 70px;
  text-align: left;
}

h2 {
  font-weight: bold;
  text-align: center;
  font-size: 48px;
  color: var(--secondary-color);
}
.sekhmet-hero {
  max-height: 80vh;
  display: block;
  margin: 0 auto;
  border-radius: 30px;
  transform: rotateZ(351deg);
}

/* INTRODUCTION */
.introduction,
.like,
.catwalk {
  padding: 60px 100px 30px;
}
.introduction {
  background-image: linear-gradient(to right bottom, #def1fb, #f2f7fe, #ffffff);
}

.introduction h2 {
  padding-right: 150px;
}

.sekhmet-intro {
  display: block;
  margin: 0 auto;
  max-width: 80%;
}

.introduction p {
  font-size: 20px;
  padding: 50px 150px 50px 0px;
  line-height: 35px;
}

/* LIKE */

.like h2 {
  color: var(--primary-color);
  padding-bottom: 30px;
}

.like .col-4 {
  padding: 0px 0px;
  max-width: 380px;
  border-radius: 30px;
  margin: 20px;
}

.like .orange img {
  border-radius: 30px 30px 0px 0px;
  display: block;
  margin: 0 auto;
}
.like .orange {
  background-color: rgba(254, 140, 104);
}

.orange p {
  color: #fff;
  line-height: 30px;
  padding: 0px 30px;
}

.like .white img {
  border-radius: 0px 0px 30px 30px;
  display: block;
  margin: 0 auto;
}

.white p {
  color: var(--secondary-color);
  line-height: 30px;
  padding: 0px 30px;
  margin: 0px;
}

/* CATWALK */

.catwalk h2 {
  padding-bottom: 30px;
}

.catwalk p {
  padding: 0px 180px 30px;
}

.catwalk img {
  border-radius: 30px;
  max-width: 80%;
  display: block;
  margin: 0 auto;
}
